<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Чатов</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>Чаты</h2>
    <a href="{% url 'create_chat' %}">Создать Новый Чат</a>
    <ul>
        {% for chat in chats %}
            <li>
                {{ chat.name }} - {{ chat.created_at }}
                <a href="{% url 'update_chat' chat.pk %}">Редактировать</a>
                <a href="{% url 'delete_chat' chat.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>