<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удалить Метку</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Вы уверены, что хотите удалить "{{ label.name }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Да, удалить</button>
    </form>
    <a href="{% url 'label_list' %}">Отмена</a>
</body>
</html>