<!DOCTYPE html>
<html>
<head>
    <title>Label List</title>
</head>
<body>
    <h1>Label List</h1>
    <a href="{% url 'create_label' %}">Create new label</a>
    <ul>
    {% for label in labels %}
        <li>{{ label.name }} - {{ label.text }} - {{ label.tag }}
            <a href="{% url 'update_label' label.name %}">Edit</a>
            <a href="{% url 'delete_label' label.name %}">Delete</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'dashboard' %}">Back to dashboard</a>
</body>
</html>