<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Меток</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Список Меток</h1>
    <a href="{% url 'create_label' %}">Создать новую метку</a>
    <ul>
    {% for label in labels %}
        <li>{{ label.name }} - {{ label.text }} - {{ label.tag }}
            <a href="{% url 'update_label' label.name %}">Редактировать</a>
            <a href="{% url 'delete_label' label.name %}">Удалить</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'dashboard' %}">Назад к панели управления</a>
</body>
</html>