<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удалить Сообщение</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Удалить Сообщение</h1>
    <p>Вы уверены, что хотите удалить сообщение: "{{ message.text }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
        <a href="{% url 'message_list' %}">Отмена</a>
    </form>
</body>
</html>